<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="container">
    <br>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <!-- Brand -->
      <a class="navbar-brand" href="/users/profile">Dashboard</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:5003">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/users/profile">NewsForm</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/users/newsList">EditNews</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" href="/users/logout">Logout</a>
            </li>
        </ul>
      </div> 
    </nav>
    <div class="main-page">
  <h2>Add new Data</h2>
  <form action="/users/addNews" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title" required>
    </div>
    <div class="form-group">
      <label for="data">Description:</label>
      <textarea class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="url">Url:</label>
      <input type="text" class="form-control" id="url" placeholder="Enter Url" name="url">
    </div>
    <div class="form-group">
        <label for="url_to_image">Url To Image:</label>
        <input type="text" class="form-control" id="url_to_image" placeholder="Enter Url to Image" name="url_to_image">
    </div>
    <div class="form-group">
      <label for="published_date">Published At:</label>
      <input type="date" class="form-control" id="published_date" placeholder="published_date" name="published_date">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <a onclick="document.querySelector('form').reset()" class="btn btn-warning" role="button">RESET</a>
  </form></div>
</div>
</body>
</html>